<h1> Display users</h1>

<ul class="list users">
    {{#each users}}
    <li class="item">
        {{this.name}} <br> {{this.email}} <br> {{this.favoriteLanguage}}
        {{!-- link (a) are ALLWAYS TRIGGERING A GET METHOD --}}
        <a class="fa fa-eye fa-lg" href="/my-dev-squad/ironhacker/{{this._id}}"></a>
        <a class="fa fa-times fa-lg" href="/delete-ironhacker/{{this._id}}">
        </a>
    </li>
    {{/each}}
</ul>