<h1 class="title">Update party</h1>

<form method="post" action="/party/update/{{_id}}" class="form">
    <label class="label" for="name" class="label">name</label>
    <input class="input" type="text" id="name" name="name" placeholder="a cool party name" value="{{name}}">

    <label class="label" for="theme" class="label">theme</label>
    <input class="input" type="text" id="theme" name="theme" placeholder="lets find a rocking theme" value="{{theme}}">

    <label class="label" for="date" class="label">date</label>
    <input class="input" type="date" id="date" name="date" required value="{{date}}">

    <label class="label" for="address" class="label">address</label>
    <input class="input" type="text" id="address" name="address" placeholder="where dat ???" value="{{place.address}}">

    <label class="label" for="host" class="label">host</label>
    <input class="input" type="text" id="host" name="host" placeholder="@ who dat ???" value="{{place.host}}">

    <button class="btn">gooooo</button>
</form>
